.cassettes
{
    display: grid !important;
    justify-content: space-between;

    grid-template-areas:
    'a a a a a a'
    'b b c c f f'
    'b b d d f f'
    'b b e e f f'
    'g g h h i i'
;
}

.cassettes__title
{
    grid-area: a;
}
.cassettes__txt
{
    grid-area: d;
}
.cassettes__table
{
    grid-area: e;
}

.cassettes__imgOne
{
    grid-area: c;
}

.cassettes__imgTwo
{
    grid-area: b;
}

.cassettes__imgThree
{
    grid-area: f;
}
.cassettes__imgFour
{
    grid-area: g;
}
.cassettes__imgFive
{
    grid-area: h;
}
.cassettes__imgSix
{
    grid-area: i;
}