.leadedGlasOne {
    display: grid !important;
    justify-content: space-between;
    width: 100em;

    grid-template-areas:
        'a a a a'
        'b c c d';
}

.leadedGlasOne__subtitle {
    grid-area: a;
}

.leadedGlasOne__img {
    grid-area: b;
    margin: auto;
}

.leadedGlasOne__txt {
    grid-area: c;
    margin: auto;
}

.leadedGlasOne__table {
    grid-area: d;
    width: 60%;
    margin: auto;
}